@{
  Layout="Shared/_Layout.cshtml";
}
<h3>Welcome to the school registrar portal!</h3>

<a href="/students/form">Add Student</a>
<a href="/courses">View Courses</a>
<a href="/students">View Students</a>
<a href="/majors">View Majors</a>
